# Arquivos de usuário e cache do Visual Studio (NÃO COMPARTILHAR)
.vs/
*.user
*.suo

# Arquivos de Build/Compilação (NÃO COMPARTILHAR)
**/bin/
**/obj/
**/appsettings.*.user
**/secrets.json
# Logs e caches (NÃO COMPARTILHAR)
*.log
*.cache

# Configurações de desenvolvimento local (NÃO COMPARTILHAR - CONTÉM SEGREDOS)
appsettings.Development.json

# Arquivos de sistema operacional (NÃO COMPARTILHAR)
Thumbs.db
.DS_Store

# -------------------------------------------------------------------
# Arquivos que DEVEM ser compartilhados (NÃO IGNORAR):
#
# appsettings.json (Contém a estrutura de configuração)
# properties/launchSettings.json (Contém as configurações de execução da equipe)
# -------------------------------------------------------------------