# Arquivos de usuário e cache do Visual Studio (NÃO COMPARTILHAR)
.vs/
*.user
*.suo

# Arquivos de Build/Compilação

packages/ # Pacotes do NuGet
*.pdb
*.orig
*.lock.json # Arquivos de lock do build
**/bin/
**/obj/
# Arquivos de Configuração Local e Segredos
**/appsettings.*.user
**/secrets.json
appsettings.Staging.json
appsettings.Development.json

# Logs e Caches Diversos
*.log
*.cache

# Arquivos de sistema operacional (Mac/Windows)
Thumbs.db
.DS_Store
