<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="~/IMG/LOGO (2).png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Tough Service</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/registro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div class="voltarPG">
        <a asp-action="Index" asp-controller="Home"><i class="fas fa-arrow-left"></i></a>
    </div>
    <div class="conteiner">
        <div class="caixa-login">
            <div class="logo">
                <img src="~/IMG/LOGO (2).png" alt="Tough Service Logo">
            </div>
            <h2>Registrar-se</h2>
            <form>

                <div class="grupo-entrada">
                    <i class="fas fa-envelope"></i>
                    <input type="text" placeholder="Nome" required>
                </div>
                <div class="grupo-entrada">
                    <i class="fas fa-lock"></i>
                    <input type="text" placeholder="CPF / CNPJ" required pattern="\d{11}">
                </div>
                <div class="grupo-entrada">
                    <i class="fas fa-envelope"></i>
                    <input type="email" placeholder="Email" required >
                </div>
                <div class="grupo-entrada">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Senha" required>
                </div>
                <div class="grupo-entrada">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Confirme sua senha" required>
                </div>
                <button type="submit" class="botao-entrar">
                    <i class="fas fa-sign-in-alt"></i>
                    Entrar
                </button>
                <div class="links">
                    
                    <a href="#"><a href="login.html">Login</a></a>
                </div>
            </form>
        </div>
    </div>
    <script src="~/js/registro.js"></script>
</body>
</html>