@model ToughService.Models.RegistroModel

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="~/IMG/LOGO (2).png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Tough Service</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/registro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div class="voltarPG">
        <a asp-action="Index" asp-controller="Home"><i class="fas fa-arrow-left"></i></a>
    </div>
    <div class="conteiner">
        <div class="caixa-login">
            <div class="logo">
                <img src="~/IMG/LOGO (2).png" alt="Tough Service Logo">
            </div>
            <h2>Registrar-se</h2>

            <form asp-action="Registro" method="post">
                <div class="grupo-entrada">
                    <i class="fas fa-user"></i>
                    <input asp-for="Nome" placeholder="Nome" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="grupo-entrada">
                    <i class="fas fa-id-card"></i>
                    <input asp-for="CpfCnpj" placeholder="CPF / CNPJ" maxlength="11"/>
                    <span asp-validation-for="CpfCnpj" class="text-danger"></span>
                </div>

                <div class="grupo-entrada">
                    <i class="fas fa-envelope"></i>
                    <input asp-for="Email" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="grupo-entrada">
                    <i class="fas fa-lock"></i>
                    <input asp-for="Senha" placeholder="Senha" type="password" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>

                <div class="grupo-entrada">
                    <i class="fas fa-lock"></i>
                    <input asp-for="ConfirmaSenha" placeholder="Confirme sua senha" type="password" />
                    <span asp-validation-for="ConfirmaSenha" class="text-danger"></span>
                </div>

                <button type="submit" class="botao-entrar">
                    <i class="fas fa-user-plus"></i>
                    Registrar
                </button>

                <div class="links">
                    Já tem conta? <a asp-action="Login" asp-controller="Registro">Login</a>
                </div>
            </form>
        </div>
    </div>

    <script src="~/js/registro.js"></script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>
